*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
    position: fixed;
}
.container{
    height: 100%;
    width: auto;
    position: fixed;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
header{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;
    backdrop-filter: blur(10px);
}
.logo img{
    height: 80px;
}
#close{
    display: none;
}
#hamnuger{
    display: none;
}
#nav ul{
    display: flex;
}
#nav ul li a{
    color: burlywood;
    letter-spacing: 2px;
    display: block;
    font-size: 30px;
    border-radius: 25px;
    margin: 5px 15px;
    padding: 5px 10px;
    text-decoration: none;
    transition: 0.5s;
}
#nav ul li a:hover{
    color: black;
    background-color: white;
}
@media only screen and (max-width:1320px){
    header{
        padding: 0 50px;
    }
  }
  @media only screen and (max-width:1100px){
    header{
        padding: 0 30px;
    }
  }
  @media only screen and (max-width:900px){
    #hamburger{
        display: block;
        cursor: pointer;
    }
    #close{
        color: white;
        cursor: pointer;
        display: block;
    }
    #hamburger .line{
        background: white;
        height: 5px;
        width: 30px;
        margin: 5px;
    }
    #nav{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: black;
        backdrop-filter: blur(10px);
        transition: all ease 0.2s;
        overflow: hidden;
    }
    #nav.active{
        height: 300px;
    }
    #nav ul{
        display: block;
        width: fit-content;
        margin: 30px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    #nav.active ul{
        opacity: 1;
    }
    #nav ul li a{
        margin-bottom: 10px;
    }
    #about{
        display: flex;
        flex-direction: column;
        padding: 5px 10px ;
    }
    .image img{
        height: 500px;
        padding: 100px 80px 100px 80px;
    }
    .list{
        display: flex;
        flex-direction: column;
    }
      body{
          font-size:10px;
  }
#landing{
    padding-top: 250px;
    padding-left: 100px;
    padding-right: 100px;
    height: 100vh;
    width: auto;
    background-image: url(IMG_0513.PNG);
    text-align: center;
    text-transform: capitalize;
}
.parallaxtext{
    font-family: 'Montserrat',sans-serif;
    text-align: left;
    justify-content: center;
    font-style: bold;
    color: transparent;
    font-size: 8vw;
    -webkit-text-stroke: 0.20vw rgb(255, 255, 255);
}
#about{
    height: 150vh;
    display: flex;
        width: 100%;

    background-color: whitesmoke;
    align-items: center;
}
.image img{
    height: 500px;

}
.text{
    padding-right: 10px;
    text-align: center;
    padding-top: 30px;
    text-transform: capitalize;
}
#picks{
    background-color: white;
    width: auto;
    text-transform: capitalize;
}
.list{
    display: flex;
}
.list ul{
    padding: 10px 20px 10px 30px;
}
.list ul li{
    padding: 15px;
}
.text button{
    background-color: orange;
    padding: 15px;
    margin-top: 20px;
    border: none;
}
.text button a{
    text-decoration: none;
}
.monthly{
    display: flex;
    padding-right: 50px;
}
.monthly ul{
    padding: 10px 20px 10px 15px;
}
.monthly ul li{
    padding: 15px;
}
#events{
    height: 100vh;
    width: auto;
    background-color: beige;
    text-align: center;
}
.card{
    background-color: whitesmoke;
    width: 30%;
    box-shadow: 5px 5px 20px;
    height: 7cm;
}
.cont{
    padding-top:50px ;
    display: flex;
    justify-content: space-around;
    margin-bottom: 250px ;
}
.cont img{
    width: 100%;
}
.info{
    text-align: center;
}
#mixes{
    height: 100vh;
    width: auto;
    background-color: whitesmoke;
    align-items: center;
}
.links{
    justify-content: space-around;
    padding-top: 20px;
    text-transform: capitalize;
    text-decoration: none;
}
.spotify{
    border: 2px solid black;
    padding: 30px;
    margin: 10px;
  }
  .applemusic{
    border: 2px solid black;
    padding: 30px;
    margin: 10px;
  }
  .youtube{
    border: 2px solid black;
    padding: 30px;
    margin: 10px;
  }
  .links a  {
    text-decoration: none;
    color: black;
  }
  #footer{
    height: 50vh;
    width: auto;
    background-color: rgb(250, 222, 222);
    align-items: center;
    text-align: center;
}
#footer h1{
    padding: 50px;
}
#footer a{
    padding: 30px;
}
